{{- $p := .amber -}}
format = "$all$character"

[palette.amber_crt]
color0 = "{{ $p.color0 }}"
color1 = "{{ $p.color1 }}"
color2 = "{{ $p.color2 }}"
color3 = "{{ $p.color3 }}"
color4 = "{{ $p.color4 }}"
color5 = "{{ $p.color5 }}"
color6 = "{{ $p.color6 }}"
color7 = "{{ $p.color7 }}"
color8 = "{{ $p.color8 }}"
color9 = "{{ $p.color9 }}"
color10 = "{{ $p.color10 }}"
color11 = "{{ $p.color11 }}"
color12 = "{{ $p.color12 }}"
color13 = "{{ $p.color13 }}"
color14 = "{{ $p.color14 }}"
color15 = "{{ $p.color15 }}"

palette = "amber_crt"

add_newline = true
scan_timeout = 10

[character]
success_symbol = "[▸]({{ $p.fg }})"
error_symbol = "[▸]({{ $p.color1 }})"

[directory]
style = "bold {{ $p.accent }}"
truncation_length = 3
truncate_to_repo = true

[git_branch]
style = "bold {{ $p.fg }}"
symbol = " "

[cmd_duration]
min_time = 2000
style = "dimmed {{ $p.prompt_dim }}"

[time]
disabled = false
format = "[$time]({{ $p.prompt_dim }}) "
time_format = "%H:%M"

[username]
style_user = "bold {{ $p.fg }}"
style_root = "bold {{ $p.color1 }}"
show_always = false

[hostname]
ssh_only = true
style = "bold {{ $p.prompt_secondary }}"

[package]
disabled = true

[python]
disabled = true

[nodejs]
disabled = true

[rust]
disabled = true

[golang]
disabled = true

[docker_context]
disabled = true

[aws]
disabled = true

[kubernetes]
disabled = true

[conda]
disabled = true

[nix_shell]
disabled = true

[memory_usage]
disabled = true

[status]
disabled = true

[fill]
symbol = " "

[line_break]
disabled = true
